
/* navbar section  */

.portfolio-navbar-logo {
    border-style: solid;
    border-color: #4b6cc1;
    padding: 10px;
}

#navItem1 {
    color: #ffffff;
    font-family: "Roboto";
}

#navItem2 {
    color: #ffffff;
    font-family: "Roboto";
}

#navItem3 {
    color: #ffffff;
    font-family: "Roboto";
}

#navItem4 {
    color: #ffffff;
    font-family: "Roboto";
}

#navItem5 {
    color: #ffffff;
    font-family: "Roboto";
}

/* banner section */

.portfolio-banner-section-bg-container {
    /* background-color: #191a1d; */
    background-color: #1f2933;
    height: 100vh;
}

.portfolio-banner-img {
        height: 40vh;
}

.portfolio-banner-heading {
    font-size: 47px;
    color: #ffffff;
}

.portfolio-banner-name {
    font-size: 50px;
    color: #4b6cc1;
}

.portfolio-banner-description {
    font-size: 27px;
    color: #9aa5b1;
}

.portfolio-banner-button {
    height: 45px;
    width: 140px;
    font-size: 17px;
    background-color: #4b6cc1;
    color: white;
    border-width: 0px;
    border-radius: 8px;
}

/* about-me & skill section */


.portfolio-aboutme-section {
    background-color: #323f4b;
}

.portfolio-skill-section {
    background-color: #1f2933;
}

.portfolio-title {
    color: #cced00;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
}

.portfolio-heading {
    color: #ffffff;
    font-weight: bold;
}

.portfolio-description {
    color: #9aa5b1;
    font-size: 18px;
}

.portfolio-skill-card-item {
    background-color: #323f4b;
    padding: 15px;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
}

.portfolio-skill-card-item-heading {
    font-size: 27px;
}

/* projects section */


.portfolio-projects-section {
    background-color: #3e4c59;
}

.portfolio-projects-title {
    color: #cced00;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
}

.portfolio-projects-heading {
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
}

.portfolio-projects-card-item {
    background-color: #323f4b;
    border-style: solid;
    border-radius: 8px;
    border-width: 0px;
}

.project-2-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.portfolio-project-domain {
    color: #9aa5b1;
}

.portfolio-project-title {
    font-size: 35px;
    font-weight: normal;
}

.portfolio-project-description {
    color: #9aa5b1;
    font-size: 23px;
}

.portfolio-project-readmore {
    color: #cced00;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
}


/* services section */


.portfolio-services-section {
    background-color: #52606d;
}

.portfolio-services-title {
    color: #cced00;
    font-size: 30px;
}

.portfolio-services-heading {
    color: #ffffff;
    font-size: 45px;
}

.portfolio-services-card-item {
    background-color: #323f4b;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    height: 90%;

}

.portfolio-services-card-item-img {
    width: 15%;
}

.portfolio-services-card-item-service-heading {
    color: #ffffff;
    font-size: 35px;
}

.portfolio-services-card-item-service-description {
    color: #9aa5b1;
    font-size: 20px;
}


/* work-done section */


.portfolio-wd-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    height: 100vh;
    background-size: cover;
    color: #ffffff;

}

.portfolio-wd-card-item-icon {
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: white;
}

.portfolio-wd-card-item-hor-line {
    border: 1px solid white;
}

.portfolio-wd-card-item-count {
    font-size: 45px;
}

.portfolio-wd-card-item-title {
    font-size: 25px;
}

/* testimonials section */


.portfolio-testimonials-section {
    background-color: #1f2933;
}

.portfolio-testimonials-title {
    color: #cced00;
    font-size: 30px;
}

.portfolio-testimonials-heading {
    color: #ffffff;
    font-size: 45px;
}

.portfolio-testimonials-carousal-container {
    background-color: #323f4b;
}

.portfolio-testimonials-carousal-img {
    height: 100px;
    width: 100px;
    /*   width: 25%;  */
    border-style: solid;
    border-radius: 60px;
    border-width: 0px;
}

.portfolio-testimonials-carousal-description {
    color: #9aa5b1;
    font-size: 18px;
}

.portfolio-testimonials-carousal-person {
    color: white;
    font-size: 22px;
}


/* footer section */


.portfolio-footer-section {
    background-color: #0d2436;
    font-family: "Roboto";
}

.portfolio-footer-profile-img {
    height: 90px;
    width: 90px;
    border-style: solid;
    border-width: 0px;
    border-radius: 100%;
}

.portfolio-footer-title {
    color: #cced00;
    font-size: 22px;
}

.portfolio-footer-description {
    color: #9aa5b1;
    font-size: 16px;
}

.portfolio-footer-copyright-section {
    background-color: #001c32;
    font-family: "Roboto";
}